    @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin-bottom: 50px;
}
.banner{
   
    margin: 0;
    padding:90px 0;
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
p{
    font-size: 18px;
}
.banner-head{
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
}
.banner-p{
    color: antiquewhite;
    text-shadow: 1px 1px 1px black;
    padding: 60px;
}
.text-center{
    text-align: center;
}
.btn{
    width: 120px;
    display: block;
    margin: 20px auto;
    text-decoration: none;
    padding: 5px 10px;
    background: rgb(233, 46, 32);
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    
}

.donate-today{
    padding: 60px 0;
    
}
h2{
    font-size: 44px;
    font-weight: 600;
}
h3{
    font-size: 38px;

    font-weight: 600;
}
.amounts{
    
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.amount-tk{
    padding:10px;
    color: rgba(0, 0, 0, 0.747);
}
.active{
    border: 2px solid rgb(233, 46, 32);
    background:rgba(233, 45, 32, 0.322);
    border-radius: 5px;
}
.donate-form{
    display: flex;
    flex-direction: column;
    
}
.donate-form input{
    width: 50%;
    display: block;
    margin: 20px auto;
    padding: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    text-align: center;
}
.plan-cards{
    width: 90%;
    display: flex;
    padding: 60px;
    justify-content: space-around;
    margin: 40px 0;
}
.card{
    width: 20%;
    padding: 20px;
    border-radius: 5px;
    

}
.card img {
    width: 15%;
}
h4{
    font-size: 28px;
    font-weight: 600;
}
.card1{
    background: rgba(245, 233, 69, 0.26);
}
.card2{
    background: rgba(41, 226, 149, 0.26);
}
.card3{
    background: rgba(233, 102, 250, 0.26);
}

.email-box{
    
    margin: 40px 150px;
    padding: 70px ;
    background: rgba(245, 233, 69, 0.26);
    border-radius: 5px;
}
.email-box .subscribe-form{
   
   display: flex;
   align-items: center;
   justify-content: center;
    
}
.email-box .subscribe-form input{
        width: 300px;
        padding: 8px;
        margin: 0;
        font-size: 18px;
        color: black;
        background: rgba(224, 224, 224, 0.842);
        border: none;
        outline: none;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
}
.email-box .subscribe-form label{
    width: 120px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    background: rgb(233, 46, 32);
    color: aliceblue;
    font-size: 16px;
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
    

}
footer{
    background: rgb(0, 3, 14);
    margin: 0;
    padding: 40px;
   
}
footer .footer-title{
    font-family: 'Pacifico', cursive;
    color:rgb(233, 46, 32) ;
    font-weight: 700;
}
footer .footer-para{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 22px;
    font-weight: 500;
}
.orange-color{
    color:rgb(233, 46, 32) ;
    text-shadow: 1px 1px 1px black;
}
.fund-amount{
    margin: 100px 0;
}

.fund-amount-number{
    display: flex;
    padding: 30px 100px;
    justify-content: space-around;
}
.num-cards{
    padding: 30px;
    border-radius: 10%;
}
.num-cards1{
    background: rgba(233, 45, 32, 0.39);
    
    border-left:4px solid rgb(233, 45, 32);
}

.num-cards2{
    background: rgba(33, 89, 241, 0.445);
    border-left:4px solid rgb(33, 89, 241);
}
.num-cards3{
    background: rgba(35, 201, 243, 0.514);
    border-left:4px solid rgb(35, 201, 243);
}